name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    name: Julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }} - ${{ github.event_name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        version:
          - '1.4'
          - '1.5'
          # - 'nightly'
        os:
          - ubuntu-latest
          - macOS-latest
          - windows-latest
        arch:
          - x64
    steps:
      - uses: actions/checkout@v2
      - uses: julia-actions/setup-julia@v1
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - uses: julia-actions/julia-buildpkg@latest          
      - name: make
        run: make JULIA_DIR=$HOME/julia
        if: matrix.os != 'windows-latest'
      - name: make (win)
        run: make JULIA_DIR=C:\julia CC=gcc
        if: matrix.os == 'windows-latest'
      - name: run
        run: ./main --trace-compile=stderr
      - name: library size
        run: ls -lh libcg.*